.stack-work
dist
cabal-dev
build
*.exe
*.o
*.d
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp

*.elf
*.bin
*.z64
*.n64
*.map
*.dis

*~
.*~
*.swo
*.swp
*.tmp
